<mat-card class="homecard mat-elevation-z3">
    <mat-card-title class="cardtitle">Bem Vindo</mat-card-title>
    <a class="cardtext">
        Esta aplicação foi construída com base no curso Angular Essencial da Cod3r disponível no link 
        https://www.cod3r.com.br/courses/angular-9-essencial, nota-se que tomei a liberdade para fazer alterações de acordo com minha vontade e limitações a fim de explorar, aprender e entender melhor. E modéstia a parte, olhando bem, meu design ficou bem mais massa (brincadeira, mas quis sim adotar um estilo mais minimalista)!!!! Testem o crud na aba Produtos.
    </a>
</mat-card>
