.footer {
    position: fixed;
    bottom: 0;
    background-color: lavender;
    display: flex;
    height: 54px;
    justify-content: flex-end;
}

.footer span {
    font-weight: 300;
    font-size: 1rem;
}